@using ClothesWebUI.Models

@model Products

@{
    ViewData["Title"] = "Sửa sản phẩm!";
}

@if (Model == null)
{
    <p>Không tìm thấy sản phẩm hoặc sản phẩm không tồn tại!</p>
}
else
{
<form asp-controller="Home" asp-action="EditPost" method="post">
    @Html.AntiForgeryToken()

    <div class="form-group">
        <label for="ProductID">ProductID</label>
        <input readonly type="text" name="ProductID" id="ProductID" class="form-control" value="@Model?.ProductID" />
        @Html.ValidationMessageFor(m => m.ProductID, "", new { @class = "text-danger" })
    </div>

    <div class="form-group">
        <label for="ProductName">Tên sản phẩm</label>
        <input type="text" name="ProductName" id="ProductName" class="form-control" value="@Model?.ProductName" />
        @Html.ValidationMessageFor(m => m.ProductName, "", new { @class = "text-danger" })
    </div>

    <div class="form-group">
        <label for="Description">Mô tả</label>
        <textarea name="Description" id="Description" class="form-control">@Model?.Description</textarea>
        @Html.ValidationMessageFor(m => m.Description, "", new { @class = "text-danger" })
    </div>

    <div class="form-group">
        <label for="Price">Giá</label>
        <input type="number" step="0.01" name="Price" id="Price" class="form-control" value="@Model?.Price" />
        @Html.ValidationMessageFor(m => m.Price, "", new { @class = "text-danger" })
    </div>

    <div class="form-group">
        <label for="Quantity">Số lượng</label>
        <input type="number" name="Quantity" id="Quantity" class="form-control" value="@Model?.Quantity" />
        @Html.ValidationMessageFor(m => m.Quantity, "", new { @class = "text-danger" })
    </div>

    <button type="submit" class="btn btn-success">Sửa</button>
</form>
}