@model List<Products>

@{
    ViewData["Title"] = "Home Page";
}


<div class="text-center">
    <h1 class="display-4">Danh mục sản phẩm hiện có</h1>

    <a class="btn btn-primary" asp-action="Insert" asp-controller="Home">Thêm sản phẩm</a>
    <table id="productsTable">
        <thead>
            <tr>
                <th>Id</th>
                <th>Name</th>
                <th>Description</th>
                <th>Price</th>
                <th>Quantity</th>
                <th>Action</th>
            </tr>
        </thead>

        <tbody>
            @foreach (var prod in Model)
            {
                <tr>
                    <td>@prod.ProductID</td>
                    <td>@prod.ProductName</td>
                    <td>@prod.Description</td>
                    <td>@prod.Price</td>
                    <td>@prod.Quantity</td>
                    <td>
                        <a asp-controller="Home" asp-action="Edit" asp-route-id="@prod.ProductID">Sửa</a>
                    </td>
                </tr>
            }
        </tbody>
    </table>

</div>

